.bro{

  border: 2px solid black;
  display:inline-block;
  box-shadow: 5px 5px 5px  grey;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  /* width: 300px;
  
  */
  text-decoration: none;
  font-family: sans-serif;
  
}
img{
  width: 100px;
  height:100px;
  margin-left: 90px;
  border-radius: 100px;
  margin-top: 50px


}
h2,p{
  margin-top: 10px;
}